<div>
    <h1>Cloud files</h1>
</div>

<div class="border-top" style="margin-bottom: 1rem !important;">
</div>

<div class="form-group">
    <input #fileInput hidden type="file" (change)="UploadFileInputChange($event)"/>

    <button class="btn btn-primary details-action-button" type="button" (click)="fileInput.click()">
        <i class="fa-solid fa-image"></i>
        Upload File
    </button>
</div>

<div class="col-md-12 mb-3" style="margin-top: 10px;">
    <ngx-datatable class="material container striped" [rows]="cloudFiles" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto">
        <ngx-datatable-column name="#" [flexGrow]="0.5">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{(rowIndex + 1)}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.name | titlecase }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Size" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.size}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Type" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.type}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Creation Date" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.creationDateTime}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actions" [flexGrow]="2" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" class="d-inline-block">
                    <button class="btn btn-primary btn-sm dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            ngbDropdownToggle>
                        <i class="fa fa-cog mr-1"></i> Actions
                    </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="DownloadFile(row?.id, row?.name)">
                            Download
                        </button>
                        <button ngbDropdownItem (click)="RemoveFile(row?.id)">
                            Remove
                        </button>
                        <button ngbDropdownItem (click)="ViewFile(row?.id, row?.type, row?.name)" [disabled]="!IsViewableFile(row?.type)">
                            View
                        </button>
                    </div>
                </div>

            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
